.container {
    width: 1000px;
    margin: 0 auto;
    height: 400px;
}

#header {
    background-color: #33BEBE;
    padding-top: 2%;
    padding-left: 15px;
}
#header h1{
    color: white;
    font-family: Arial, sans-serif;
    

}
#cuerpo {
    display: flex;
    padding-top: 20px;

}
#texto{
    margin-top: -17px;
}
#texto p{
    color: #7C8B88;
    font-family: Arial, sans-serif;
    font-size: 30px;
    text-align: justify;

}
#imagen img{
    width: 406px;
    height: 296px;
    padding-right: 50px;
    padding-top: 15px;
}